@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -1px;
}

:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
  --para-size: 18px;
  --font-weight-1: 400;
  --font-weight-2: 500;
}

body {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background-color: whitesmoke;
}

main {
  width: 90%;
  display: grid;
  gap: 25px;
}

section {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-1 {
  background-color: var(--Purple-500);
  color: var(--White);
  text-align: center;
  align-items: center;
}

.card-1 .card1-p1 {
  font-size: 40px;
  font-weight: var(--font-weight-2);
  width: 8ch;
  padding: 20px 0;
  line-height: 35px;
}

.card-1 .ten-x {
  color: var(--Yellow-500);
}

.card-1 .faster {
  font-style: italic;
}

.five-stars {
  width: 60%;
}

.card1-p2 {
  font-size: var(--para-size);
  font-weight: var(--font-weight-1);
  padding: 10px 0;
}

.card-2 {
  background-color: white;
}

.social-media {
  width: 100%;
  padding: 10px 0;
}

.card-2 p {
  font-size: var(--para-size);
  font-weight: var(--font-weight-2);
  line-height: 18px;
  width: 17ch;
}

.card-3 {
  background: var(--Yellow-500);
  overflow: hidden;
}

.card-3 p {
  font-size: var(--para-size);
  font-weight: var(--font-weight-2);
  width: 15ch;
  line-height: 18px;
}

.calander {
  width: 55%;
  position: relative;
  top: 20px;
}

.card-4 {
  background-color: var(--Purple-100);
  text-align: center;
}

.card4-p1 {
  font-size: var(--para-size);
  font-weight: var(--font-weight-2);
  padding: 10px 0;
}

.schedule-posts {
  width: 100%;
  padding: 10px 0;
}

.card4-p2 {
  font-weight: var(--font-weight-1);
  width: 22ch;
  margin: 0 auto;
  line-height: 18px;
  padding: 15px 0;
}

.card-5 {
  background-color: var(--Purple-500);
  text-align: center;
}

.grow-followers {
  width: 60%;
  margin: auto;
}

.card-5 p {
  color: var(--White);
  font-size: var(--para-size);
  font-weight: var(--font-weight-2);
  width: 12ch;
  margin: auto;
  line-height: 17px;
  padding: 20px 0 10px 0;
}

.card-6 {
  background-color: var(--White);
}

.card-6 span {
  font-size: xx-large;
  font-weight: var(--font-weight-2);
}

.card-6 p {
  padding: 10px 0;
}

.audience-growth {
  width: 60%;
  padding: 10px 0;
}

.card-7 {
  background-color: var(--Yellow-100);
}

.card-7 h2 {
  font-weight: var(--font-weight-2);
  width: 15ch;
  line-height: 20px;
  padding: 10px 0;
}

.card-7 h2 span {
  color: var(--Purple-500);
  font-style: italic;
}

.create-post {
  width: 60%;
  padding-top: 10px;
}

.card-8 {
  background-color: var(--Yellow-500);
}

.card-8 h2 {
  font-weight: var(--font-weight-2);
  width: 15ch;
  line-height: 20px;
}

.ai-content {
  width: 60%;
  padding-top: 20px;
}

@media (min-width: 475px) {
  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  main {
    width: auto;
    grid-template-columns: repeat(4, 170px);
    grid-template-rows: repeat(10, 35px);
  }

  .card-1 {
    grid-row: 1 / 5;
    grid-column: 2/ 4;
  }

  .card-1 .card1-p1 {
    width: 10ch;
  }

  .five-stars {
    width: 35%;
  }

  .card1-p2 {
    font-size: 14px;
    padding: 5px;
  }

  .card-2 {
    overflow: hidden;
    grid-row: 5 / 8;
    grid-column: 2 / 3;
  }

  .social-media {
    width: 150%;
    padding: 0;
  }

  .card-2 p {
    padding-top: 10px;
    line-height: 16px;
    width: 9ch;
  }

  .card-3 {
    grid-row: 5 / 8;
    grid-column: 3 / 4;
  }

  .card-3 p {
    width: 10ch;
    line-height: 16px;
  }

  .calander {
    padding-top: 10px;
    width: 100%;
    position: static;
  }

  .card-4 {
    grid-column: 4 / 5;
    grid-row: 1 / 8;
    text-align: left;
    overflow: hidden;
  }

  .card4-p1 {
    line-height: 16px;
    padding: 10px 0;
  }

  .schedule-posts {
    width: 150%;
    padding: 10px 0;
  }

  .card4-p2 {
    width: 15ch;
    line-height: 18px;
    padding: 15px 0;
  }

  .card-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
    grid-row: 8 / 11;
    grid-column: 3 / 5;
  }

  .grow-followers {
    width: 40%;
  }

  .card-5 p {
    width: 12ch;
    margin: auto;
    line-height: 17px;
    padding: 20px 0 10px 0;
  }

  .card-6 {
    grid-row: 8 / 11;
    grid-column: 2 / 3;
    padding-top: 10px;
  }

  .card-6 span {
    font-size: 40px;
  }

  .card-6 p {
    font-size: 13px;
    padding: 0;
  }

  .audience-growth {
    width: 80%;
    padding: 20px 0 10px 0;
  }

  .card-7 {
    display: flex;
    justify-content: center;
    grid-row: 1 / 6;
    grid-column: 1 / 2;
  }

  .card-7 h2 {
    width: 10ch;
    line-height: 22px;
  }

  .create-post {
    width: 100%;
  }

  .card-8 {
    grid-row: 6 / 11;
    grid-column: 1 / 2;
  }

  .card-8 h2 {
    width: 8ch;
    line-height: 22px;
  }

  .ai-content {
    padding-top: 30px;
    width: 110%;
  }
}
