@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
  --para-size: 18px;
  --font-weight-1: 400;
  --font-weight-2: 500;
}

body {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background-color: #000;
}

main {
  width: 90%;
  display: grid;
  gap: 25px;
}

section {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-1 {
  background-color: var(--Purple-500);
  color: var(--White);
  text-align: center;
  align-items: center;
  padding: 20px 0;
}

.card-1 .card1-p1 {
  font-size: 40px;
  font-weight: var(--font-weight-2);
  width: 8ch;
  margin: 20px 0;
  line-height: 35px;
  letter-spacing: -1px;
}

.card-1 .ten-x {
  color: var(--Yellow-500);
}

.card-1 .faster {
  font-style: italic;
}

.five-stars {
  width: 60%;
}

.card1-p2 {
  font-size: var(--para-size);
  font-weight: var(--font-weight-1);
  padding: 10px 0;
}

.card-2 {
  background-color: white;
}

.social-media {
  width: 100%;
  padding: 10px 0;
}

.card-2 p {
  font-size: var(--para-size);
  font-weight: var(--font-weight-2);
  line-height: 18px;
  letter-spacing: -1px;
  width: 17ch;
}

.card-3 {
  background: var(--Yellow-500);
  overflow: hidden;
}

.card-3 p {
  font-size: var(--para-size);
  font-weight: var(--font-weight-2);
  letter-spacing: -1px;
  width: 15ch;
  line-height: 20px;
}

.calander {
  width: 50%;
  position: relative;
  top: 20px;
}

.card-4 {
  background-color: var(--Purple-100);
  display: flex;
  align-items: center;
}

.schedule-posts {
  width: 100%;
}

.card-5 {
  background-color: var(--Purple-500);
}

.grow-followers {
  width: 20%;
}

.card-6 {
  background-color: var(--White);
}

.audience-growth {
  width: 20%;
}

.card-7 {
  background-color: var(--Yellow-100);
}

.create-post {
  width: 20%;
}

.card-8 {
  background-color: var(--Yellow-500);
}

.ai-content {
  width: 20%;
}
